<html>
  <body>
    <form>

      Nome:<br>
      <input type="text" name="firstname">
      <br>
      Cognome:<br>
      <input type="text" name="firstname">
      <br>
      Indirizzo:<br>
      <input type="text" name="firstname">
      <br>
      Email:<br>
      <input type="text" name="firstname">
      <br>
      Telefono:<br>
      <input type="text" name="firstname">
      <br>
      Data Prenotazione:<br>
      <input type="text" name="firstname">
      <br>
      Ora Prenotazione:<br>
      <input type="text" name="firstname">
      <br>
    </form>
      <app-foo [pren] = "prenotazioneArray"></app-foo>

    <
  </body>
</html>


